@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --mainBG: #151419;
    /* Overall background for the entire site or sections */
    --SecBG: #262626;
    /* Background for sidebars, footers, or secondary sections */
    --Accent1: #ED6646;
    /* Used for headers, buttons, links, and highlights */
    --Accent2: #IBIBIE;
    /* Background for cards, modals, or interactive elements */
    --Text: #878787;
    /* Body text color for paragraphs and general content */
    --LightBG: #FBFBFB;
    /* Background for contrast areas, cards, or light sections */
  }

  body {
    background-color: var(--mainBG);
    color: var(--Text);
    padding: 8px;
  }
}

/* Custom Scrollbar */
.custom-scrollbar::-webkit-scrollbar {
  height: 8px;
  width: 9px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #1f2937;
  /* Gray background */

}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #f97316;
  scrollbar-width: thin;
  border-radius: 10px;
  border: 2px solid #1f2937;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #fb923c;
}